JUDO_HOST=192.168.1.x
JUDO_PORT=8833
JUDO_USER=customer
JUDO_SERIAL=XXXXXX

MQTT_BROKER=tcp://localhost:1883
MQTT_USER=
MQTT_PASSWORD=
MQTT_TOPIC_PREFIX=judo
MQTT_HA_DISCOVERY=true
MQTT_HA_PREFIX=homeassistant

POLL_INTERVAL=60
LOG_LEVEL=info
