JUDO_HOST=10.35.5.133
JUDO_PORT=8833
JUDO_USER=customer
JUDO_SERIAL=122907

MQTT_BROKER=tcp://localhost:1883
MQTT_TOPIC_PREFIX=judo
MQTT_HA_DISCOVERY=true
MQTT_HA_PREFIX=homeassistant

POLL_INTERVAL=60
LOG_LEVEL=info
